.app-header {
    width: 100vw;
    img {
        width: 100px;
        margin-right: 2px;
    }
    button {
        font-size: 1.5rem;
        margin-right: 50px;
    }
    .logo {
        font-family: Kaushan;
    }
}