.saved-img-list {
    li {
        position: relative;
        width: 150px;
        height: 99px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .btn-add {
        width: 150px;
        height: 99px;
        border: 1px dashed black;
        background-color: rgb(155, 155, 155);
        font-size: 1.5rem;
    }
}