.home-page {
    h1 {
        text-align: center;
        padding-top: 30px;
        font-size: 3rem;
        font-family: Kaushan            ;
    }
    .img-list {
        padding-top: 80px;
    }
}