body {
    background-color: rgb(86, 209, 199);
}

.app-header {
    height: 10vh;
    padding: 0 20px;
}

.app-main {
    min-height: 85vh;
    background-color: whitesmoke;
    padding: 0 20px;
}

.app-footer {
    height: 5vh;
}